<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/component/header/css/header.css">
</head>
<body>
    <div class="header-content">
        <div class="logo flt">
            <a href="/pages/index.html">
                <img src="/image/logo.png">
            </a>
        </div>
        <div class="h_icon flt">
            <span class="qq">1938083884</span>
        </div>
        <div class="h_icon flt">
            <span class="phone">13206640372</span>
        </div>
        <div class="menu_btn frt">
            <label class="lab1"></label>
            <label class="lab2"></label>
            <label class="lab3"></label>
        </div>
        <div class="h_text frt">首页</div>
        <div class="menu frt">
            <ul>
                <li id="index">
                    <a href="/pages/index.html">
                        <h4 class="icon1">
                            首页
                            <span>
                                home page
                            </span>
                        </h4>
                    </a>
                </li>
                <li id="about">
                    <a href="/pages/about.html">
                        <h4 class="icon2">
                            关于我们
                            <span>
                                aboutMe page
                            </span>
                        </h4>
                    </a>
                </li>
                <li id="corporate">
                    <a href="/pages/corporate.html">
                        <h4 class="icon3">
                            公司业务
                            <span>
                                corporate page
                            </span>
                        </h4>
                    </a>
                </li>
                <li id="categoryWorks">
                    <a href="/pages/categoryWorks.html">
                        <h4 class="icon4">
                            设计作品
                            <span>
                                categoryWorks page
                            </span>
                        </h4>
                    </a>
                </li>
                <li id="news">
                    <a href="/pages/news.html">
                        <h4 class="icon5">
                            新闻动态
                            <span>
                                news page
                            </span>
                        </h4>
                    </a>
                </li>
                <li id="connectUs">
                    <a href="/pages/connectUs.html">
                        <h4 class="icon6">
                            联系我们
                            <span>
                                connectUs page
                            </span>
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function HeaderObject(){
            let btn = $(".menu_btn")
            let headerContent = $(".header-content")
            let jump = JSON.parse(localStorage.getItem("key")).data
            let Look = false
            btn.click(function(){
                if(!Look){
                    headerContent.addClass("h_menu")
                }else{
                    headerContent.removeClass("h_menu")
                }
                Look = !Look
            })
            $("#"+jump).addClass("on")
            let a = $("#" + jump).find("h4").contents()[0].data
            $(".h_text").html(a)
        }
        HeaderObject()
    </script>
</body>
</html>