.header-content{
    width: 100%;
    height: 80px;
    background: transparent;
}
.flt{
    float: left;
}
.frt{
    float: right;
}
.logo{
    width: 215px;
    text-align: center;
}
.h_icon{
    padding: 0 40px;
    color: #ffffff;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.26);
}
.qq{
    background: url(/image/icon1.png) no-repeat left center;
}
.phone{
    background: url(/image/icon2.png) no-repeat left center;
}
.h_icon span{
    padding-left: 30px;
    display: inline-block;
}
.h_text{
    color: #ffffff;
    padding: 0 30px;
}
.menu_btn{
    width: 112px;
    height: 100%;
    background-color: #0784c9;
    cursor: pointer;
    z-index: 100;
    position: relative;
    transition:  margin 0.28s;
}
.menu_btn label{
    display: block;
    width: 32px;
    height: 3px;
    margin: 2px auto;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transition: transform 0.28s;
}
.menu_btn label.lab1{
    margin-top: -10px;
}
.menu_btn label.lab2{
    margin-top: 0;
}
.menu_btn label.lab3{
    margin-top: 10px;
}
.menu{
    width: 340px;
    z-index: 99;
    height: 100vh;
    background-color: #1e2a3d;
    position: fixed;
    top: 0;
    right: -340px;
    transition: right 0.28s;
}

.h_menu .menu_btn{
    margin-right: 228px;
}

.h_menu .menu{
    right: 0;
}
.h_menu .menu_btn label.lab1{
    margin-top: 0;
    transform: rotate(45deg);
}
.h_menu .menu_btn label.lab2{
    opacity: 0;
}
.h_menu .menu_btn label.lab3{
    margin-top: 0;
    transform: rotate(-45deg);
}
.menu ul{
    margin-top: 80px;
    border-top: 1px solid rgba(255,255,255,.05);
}
.menu li.on a{
    background-image: url(/image/icon3.png);
    background-position: 95% center;
    background-color: #17202e;
}
.menu li a{
    color: #ffffff;
    padding: 35px;
    display: block;
    line-height: 1.2em;
    background-repeat: no-repeat;
    background-position: right center;
    transition: background-position 0.68s;
}
.menu li a:hover{
    background-image: url(/image/icon3.png);
    background-position: 95% center;
    background-color: #17202e;
}
.menu li h4.icon1{
    background: url("/image/menu_03.png") no-repeat left center;
}
.menu li h4{
    padding: 5px 0;
    padding-left: 70px;
    font-size: 16px;
    font-weight: hormal;
}
.menu li span{
    font-size: 10px;
    opacity: 0.2;
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
}