.page6{
    padding: 200px 0;
}
.page6_text{
    width: 45%;
    float: left;
}
.page6_text .text p{
    color: rgba(255, 255, 255, 0.8);
    line-height: 30px;
}
.page6_text .list ul li{
    margin-top: 15px;
    line-height: 40px;
    padding-left: 64px;
}
.page6_text .list ul .li1{
    background: url(/image/icon8.png) no-repeat left center;
}
.page6_text .list ul .li2{
    background: url(/image/icon9.png) no-repeat left center;
}
.page6_text .list ul .li3{
    background: url(/image/icon10.png) no-repeat left center;
}
.page6_text .ewm{
    width: 172px;
    position: relative;
    padding: 12px;
    margin-top: 40px;
}
.page6_text .ewm i{
    display: block;
    width: 22px;
    height: 22px;
    border-style: solid;
    border-color: #fff;
    position: absolute;
}
.page6_text .ewm i.i_t{
    top: 0;
    border-top-width: 2px;
}
.page6_text .ewm i.i_b{
    bottom: 0;
    border-bottom-width: 2px;
}
.page6_text .ewm i.i_l{
    left: 0;
    border-left-width: 2px;
}
.page6_text .ewm i.i_r{
    right: 0;
    border-right-width: 2px;
}
.page6_text .ewm img{
    display: block;
}
.page6_content{
    width: 45%;
    float: right;
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 5px;
    padding: 25px 0;
}
.page6_content h3{
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 25px;
}
.page6_content .list{
    padding: 0 20px;
}
.page6_content .list li{
    width: 48%;
    margin: 0 1%;
    float: left;
    margin-bottom: 25px;
}
.page6_content .list li span{
    display: block;
    margin-bottom: 10px;
    color: #afb6be;
}
.page6_content .list li .div_input{
    background: #fff;
    padding: 0 15px;
    line-height: 46px;
}
.page6_content .list li .div_input input{
    background: none;
    width: 100%;
    border: 0;
}
.page6_content .list li .div_input textarea{
    padding: 10px 0;
    background: none;
    height: 150px;
    width: 100%;
    border: 0;
    resize: none;
}
.page6_content .list li.li_last{
    width: 98%;
}
.page6_content .btn{
    margin: 20px 0;
}
.center{
    text-align: center;
}
